{
	auto_https disable_redirects
}

:80 {
	root * ./html
	file_server
}

auth.nano-exp.com:80 {
	reverse_proxy 127.0.0.1:3500 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

i.nano-exp.com:80, ineffa.nano-exp.com:80 {
	reverse_proxy 127.0.0.1:3000 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

oc.nano-exp.com:80 {
	reverse_proxy 127.0.0.1:18789 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

nano-exp.com:80, www.nano-exp.com:80 {
	reverse_proxy 127.0.0.1:3000 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

s.nano-exp.com:80, static.nano-exp.com:80 {
	root * ./html
	file_server
	try_files {path} {path}/index.html index.html
}

frp.nano-exp.com:80 {
	handle {
		forward_auth 127.0.0.1:3500 {
			uri /api/protected
			header_up Host auth.nano-exp.com
			header_up X-Original-URI {scheme}://{host}{uri}
			@error status 401 403
			handle_response @error {
				redir https://auth.nano-exp.com/login?redirect={scheme}://{host}{uri}
			}
		}
		reverse_proxy 127.0.0.1:5500 {
			header_up Host {host}
			header_up X-Real-IP {remote}
		}
	}
}

opencode.nano-exp.com:80 {
	@bypass path /pty/* /site.webmanifest
	handle @bypass {
		reverse_proxy 127.0.0.1:4096 {
			header_up Host {host}
			header_up X-Real-IP {remote}
		}
	}
	handle {
		forward_auth 127.0.0.1:3500 {
			uri /api/protected
			header_up Host auth.nano-exp.com
			header_up X-Original-URI {scheme}://{host}{uri}
			@error status 401 403
			handle_response @error {
				redir https://auth.nano-exp.com/login?redirect={scheme}://{host}{uri}
			}
		}

		header -Content-Security-Policy
		reverse_proxy 127.0.0.1:4096 {
			header_up Host {host}
			header_up X-Real-IP {remote}
		}
	}
}

*.nano-exp.com:80 {
	@port_range host regexp ^7[0-4][0-9][0-9]\.nano-exp\.com$
	handle @port_range {
		forward_auth 127.0.0.1:3500 {
			uri /api/protected
			header_up Host auth.nano-exp.com
			header_up X-Original-URI {scheme}://{host}{uri}
			@error status 401 403
			handle_response @error {
				redir https://auth.nano-exp.com/login?redirect={scheme}://{host}{uri}
			}
		}
		reverse_proxy 127.0.0.1:{labels.1} {
			header_up Host {host}
			header_up X-Real-IP {remote}
		}
	}
}

openclaw-2026.nano-exp.com:80 {
	reverse_proxy 127.0.0.1:2026 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}

# pai.mn

www.pai.mn:80, pai.mn:80 {
	reverse_proxy 127.0.0.1:3300 {
		header_up Host {host}
		header_up X-Real-IP {remote}
	}
}
